<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>h3ck Ph4se Survey Form</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <header class="header">
      <h1 id="title" class="text-center">
          LyfIndexForm
      </h1>
    </header>

    <p id="description" class="description text-center">
      Thank you for taking time to help us improve the platform.
    </p>

    <form id="survey-form" method="POST" action="/">
      <div class="form-group">
        <label for="name" id="name-label">First Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter your first name" required />
      </div>

      <div class="form-group">
        <label for="name1" id="name1-label">Middle Name</label>
        <input type="text" name="name" id="name1" class="form-control" placeholder="Enter your middle name" required />
      </div>

      <div class="form-group">
        <label for="name2" id="name2-label">Last Name</label>
        <input type="text" name="name" id="name2" class="form-control" placeholder="Enter your last name" required />
      </div>

      <div class="form-group">
        <p>Gender</p>
        <label> <input name="userRecommend" value="Male" type="radio" class="input-radio"
            checked />Male</label>
        <label> <input name="userRecommend" value="Femlae" type="radio" class="input-radio" />Female</label>
        <label> <input name="userRecommend" value="oTHER" type="radio" class="input-radio" />Other</label>
      </div>

      <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob">
      </div>

      <div class="form-group">
        <label for="name4" id="country">Country</label>
        <input type="text" name="name" id="name4" class="form-control" placeholder="Enter your county" required />
      </div>

      <div class="form-group">
        <label for="name5" id="state">State</label>
        <input type="text" name="name" id="name5" class="form-control" placeholder="Enter your state" required />
      </div>

      <div class="form-group">
        <label for="name6" id="town">Town</label>
        <input type="text" name="name" id="name6" class="form-control" placeholder="Enter your City" required />
      </div>

      <div class="form-group">
        <label id="email-label" for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required />
      </div>

      <div class="form-group">
        <label id="number-label2" for="number"> Postcode <span class="clue"> </span></label>
        <input type="number" name="age" id="number2" class="form-control" placeholder="enter your postcode" />
      </div>



      <div class="form-group">
        <label for="dod">Date of Death:</label>
        <input type="date" id="dod" name="dod">
        </div>

      <div class="form-group">
        <p>Drinking</p>
        <label> <input name="userRecommend" value="yes" type="radio" class="input-radio"
            checked />Yes</label>
        <label> <input name="userRecommend" value="no" type="radio" class="input-radio" />no</label>
      </div>

      <div class="form-group">
        <p>Smoking</p>
        <label> <input name="userRecommend" value="yes1" type="radio" class="input-radio"
            checked />Yes</label>
        <label> <input name="userRecommend" value="no1" type="radio" class="input-radio" />no</label>
      </div>

      <div class="form-group">
        <p>Drugs</p>
        <label> <input name="userRecommend" value="yes1" type="radio" class="input-radio"
            checked />Yes</label>
        <label> <input name="userRecommend" value="no1" type="radio" class="input-radio" />no</label>
      </div>

      <div class="form-group">
        <label for="name7" id="name7">Diseases</label>
        <input type="text" name="name" id="name7" class="form-control" placeholder="Enter all Diseases" required />
      </div>

      <div class="form-group">
        <label for="name8" id="name8">Disorders</label>
        <input type="text" name="name" id="name8" class="form-control" placeholder="Enter all Disorders" required />
      </div>

      <div class="form-group">
        <label for="name9" id="name9">City of birth </label>
        <input type="text" name="name9" id="name9" class="form-control" placeholder="Enter your City of birth" required />
      </div>

      <div class="form-group">
        <label id="number-label4" for="number"> Number of siblings<span class="clue"> </span></label>
        <input type="number" name="age" id="number7" min="0" max="99" class="form-control" placeholder="Number of siblings" />
      </div>
      
      <div class="form-group">
        <label for="name10" id="name10">Name of siblings</label>
        <input type="text" name="name10" id="name10" class="form-control" placeholder="Enter The name" required />
      </div>

      <div class="form-group">
        <label for="name11" id="town">Fathers Name</label>
        <input type="text" name="name9" id="name11" class="form-control" placeholder="Enter fathers name" required />
      </div>

      <div class="form-group">
        <label for="name12" id="town">Mothers Name</label>
        <input type="text" name="name9" id="name12" class="form-control" placeholder="Enter your Mothers name" required />
      </div>

      <div class="form-group">
        <p>Any comments or suggestions?
          <span class="clue">Regarding the webpage</span>
        </p>
        <textarea id="comments" class="input-textarea form-control" name="comment"
          placeholder="Enter your comment here..."></textarea>
      </div>

      <div class="form-group">
        <button type="submit" id="submit" class="submit-button">
          Submit
        </button>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('survey-form').reset()
  </script>
</body>

</html>