<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Memorial Form</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <header class="header">
      <h1 id="title" class="text-center">
          LyfIndexForm
      </h1>
    </header>

    <p id="description" class="description text-center">
      Thank you for taking time to help us improve the platform.
    </p>

    <form id="survey-form" method="POST" action="/">
      <div class="form-group">
        <label for="name" id="name">First Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter your first name" required />
      </div>

      <div class="form-group">
        <label for="middle" id="middlename">Middle Name</label>
        <input type="text" name="middlename" id="middlename" class="form-control" placeholder="Enter your middle name" required />
      </div>

      <div class="form-group">
        <label for="lastname" id="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Enter your last name" required />
      </div>

      <div class="form-group">
        <p>Gender:</p>
        <select id="Gender">
          <option value="option1">Male</option>
          <option value="option2">Female</option>
          <option value="option3">Other</option>
        </select>
      </div>

      <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob">
      </div>

      <div class="form-group">
        <label for="country" id="country">Country</label>
        <input type="text" name="country" id="country" class="form-control" placeholder="Enter your county" required />
      </div>

      <div class="form-group">
        <label for="state" id="state">State</label>
        <input type="text" name="state" id="state" class="form-control" placeholder="Enter your state" required />
      </div>

      <div class="form-group">
        <label for="town" id="town">Town</label>
        <input type="text" name="town" id="town" class="form-control" placeholder="Enter your City" required />
      </div>

      <div class="form-group">
        <label id="email" for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required />
      </div>

      <div class="form-group">
        <label id="postcode" for="postcode"> Postcode <span class="clue"> </span></label>
        <input type="number" name="postcide" id="postcode" class="form-control" placeholder="enter your postcode" />
      </div>



      <div class="form-group">
        <label for="dod">Date of Death:</label>
        <input type="date" id="dod" name="dod">
        </div>

      <div class="form-group">
        <p>Drinking</p>
        <select id="drinking">
          <option value="water">Water</option>
          <option value="coffee">Coffee</option>
          <option value="tea">Tea</option>
          <option value="juice">Juice</option>
          <option value="soda">Soda</option>
          <option value="milk">Milk</option>
          <option value="beer">Beer</option>
          <option value="wine">Wine</option>
          <option value="cocktail">Cocktail</option>
        </select>
      </div>

      <div class="form-group">
        <p>Smoking</p>
        <select id="smoking">
          <option value="none">None</option>
          <option value="cigarettes">Cigarettes</option>
          <option value="cigars">Cigars</option>
          <option value="pipe">Pipe</option>
          <option value="vape">Vape/Electronic Cigarettes</option>
          <option value="hookah">Hookah/Shisha</option>
        </select>
      </div>

      <div class="form-group">
        <p>Drugs</p>
        <select id="drugs">
          <option value="none">None</option>
          <option value="marijuana">Marijuana</option>
          <option value="cocaine">Cocaine</option>
          <option value="heroin">Heroin</option>
          <option value="methamphetamine">Methamphetamine</option>
          <option value="prescription">Prescription Drugs</option>
        </select>
      </div>

      <div class="form-group">
        <p>Disease:</p>
        <select id="diseases">
          <option value="none">None</option>
          <option value="diabetes">Diabetes</option>
          <option value="hypertension">Hypertension</option>
          <option value="asthma">Asthma</option>
          <option value="cancer">Cancer</option>
          <option value="heart-disease">Heart Disease</option>
          <option value="stroke">Stroke</option>
          <option value="arthritis">Arthritis</option>
          <option value="osteoporosis">Osteoporosis</option>
          <option value="alzheimer">Alzheimer's Disease</option>
          <option value="parkinson">Parkinson's Disease</option>
          <option value="depression">Depression</option>
          <option value="anxiety">Anxiety Disorder</option>
          <option value="asthma">Asthma</option>
          <option value="bronchitis">Bronchitis</option>
          <option value="migraine">Migraine</option>
          <option value="obesity">Obesity</option>
          <option value="kidney-disease">Kidney Disease</option>
          <option value="liver-disease">Liver Disease</option>
          <option value="pneumonia">Pneumonia</option>
        </select>
        
      </div>

      <div class="form-group">
        <p>Disorders</p>
        <select id="disorders">
          <option value="none">None</option>
          <option value="anxiety">Anxiety Disorder</option>
          <option value="depression">Depressive Disorder</option>
          <option value="bipolar">Bipolar Disorder</option>
          <option value="ocd">Obsessive-Compulsive Disorder (OCD)</option>
          <option value="ptsd">Post-Traumatic Stress Disorder (PTSD)</option>
          <option value="adhd">Attention-Deficit/Hyperactivity Disorder (ADHD)</option>
          <option value="autism">Autism Spectrum Disorder (ASD)</option>
          <option value="schizophrenia">Schizophrenia</option>
          <option value="eating">Eating Disorders</option>
          <option value="sleep">Sleep Disorders</option>
          <option value="personality">Personality Disorders</option>
          <option value="substance-abuse">Substance Abuse Disorders</option>
          <option value="dissociative">Dissociative Disorders</option>
          <option value="sexual">Sexual Disorders</option>
          <option value="gender">Gender Dysphoria</option>
          <option value="somatoform">Somatoform Disorders</option>
          <option value="conduct">Conduct Disorders</option>
          <option value="developmental">Developmental Disorders</option>
          <option value="factitious">Factitious Disorders</option>
        </select>
        
      </div>

      <div class="form-group">
        <label for="cityofbirth" id="cityofbirth">City of birth </label>
        <input type="text" name="cityofbirth" id="cityofbirth" class="form-control" placeholder="Enter your City of birth" required />
      </div>

      <div class="form-group">
        <label id="numbersiblings" for="numbersiblings"> Number of siblings<span class="clue"> </span></label>
        <input type="number" name="age" id="numbersiblings" min="0" max="99" class="form-control" placeholder="Number of siblings" />
      </div>
      
      <div class="form-group">
        <label for="siblings" id="siblings">Name of siblings</label>
        <input type="text" name="siblings" id="siblings" class="form-control" placeholder="Enter The name" required />
      </div>

      <div class="form-group">
        <label for="Fathersname" id="Fathersname">Fathers Name</label>
        <input type="text" name="Fathersname" id="Fathersname" class="form-control" placeholder="Enter fathers name" required />
      </div>

      <div class="form-group">
        <label for="Mothersname" id="Mothersname">Mothers Name</label>
        <input type="text" name="Mothersname" id="Mothersname" class="form-control" placeholder="Enter your Mothers name" required />
      </div>


      <div class="form-group">
        <p>Upload Photos:</p>
        <label for="photo-upload">Select Photos:</label>
        <input type="file" id="photo-upload" name="photo-upload" multiple>
      </div>


      <div class="form-group">
        <p>Upload Videos:</p>
        <label for="video-upload">Select videos:</label>
        <input type="file" id="video-upload" name="video-upload" multiple>
      </div>

      <div class="form-group">
        <p>Do you want to add something extra?
        </p>
        <textarea id="comments" class="input-textarea form-control" name="comment"
          placeholder="Enter your comment here..."></textarea>
      </div>

      <div class="form-group">
        <button type="submit" id="submit" class="submit-button">
          Submit
        </button>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('survey-form').reset()
  </script>
</body>

</html>
